body {
	text-align: center;
	padding: 50px;
	background: #dff6ff;
}

#symbole {
	height: 30px;
    width: 150px;
    border: 2px solid #9c9c9c;
	border-radius: .25rem;
}
button {
	height: 36px;
	color: #fff;
	background: #007bff;
	border: none;
	border-radius: .25rem;
}

button:hover {
	cursor: pointer;
	border: none;
	background: #0069d9;
}

#content {
	margin: 30px auto;
	display: block;
}